exportPattern("^[[:alpha:]]+")
importFrom("gplots", heatmap.2)
importFrom("vegan",diversity,specnumber, vegdist)
importFrom("ineq",ineq, Lc)
importFrom("doParallel",registerDoParallel)
importFrom("foreach",foreach,"%dopar%")
importFrom("parallel", detectCores, makeCluster, stopCluster)
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf")
importFrom("graphics", "abline", "axis", "barplot", "boxplot",
           "legend", "mtext", "par", "plot", "points", "text", "title")
importFrom("utils", "adist", "read.table")
importFrom("grDevices", "rainbow")
importFrom("graphics", "lines")
importFrom("stats", "quantile")
importFrom("ape", pcoa)
importFrom("proxy", dist)
importFrom("stringdist", seq_distmatrix)
importFrom("stats", "as.dist")
